
#b1 {border: solid 3px; color:pink;margin:5px;background:blue;}
#b2{background: yellow;}
.n {background:grey; padding:5px;}

#b3{width: 25%;float: left ; }
#b4{width: 50%;float: left ;}
#b5{width: 13%;float: left ;}
#b6 {clear:both;}
