div {border: solid 3px;color: pink;margin: 5px;background: blue;}
#b1 {border: solid 3px; border-color:pink;margin:5px;background:yellow;}
.n {background:grey; padding:5px;border: solid 3px;margin:2px;border-color:pink;}
#b3 {background:grey;width: 25%;float: left;}
#b4 {background:grey;width: 50%;float: left;}
#b5 {background:grey;width: 13%;float: left;}
#b6 {clear:both;}
