
#b1 {border: solid 3px; border-color:pink;margin:5px;background:yellow;}
#b2{background: blue;border: solid 3px;border-color:pink;margin:2px;}

#b3{width: 25%;float: left ; clear:both;}
#b4{width: 50%;float: center ;clear:both;}
#b5{width: 13%;float: left ;clear:both;}
#b6 {clear:both;}
.n {background:grey; padding:5px;border: solid 3px;margin:20px;border-color:pink;}
