div {border: solid 3px;color: pink;margin: 5px;background: blue;}
#b1 {border: solid 3px; border-color:pink;margin:5px;background:yellow;}
.n {background:grey; padding:5px;border: solid 3px;margin:2px;border-color:pink;}
#r1 {width: 25%;float: left;}
#r2 {width: 60%;float: left;}
#r3 {width: 13%;float: left;}
#b6 {clear:both;}
